<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Vanilla JS - Progress Bar</title>
    <meta name="description" content="Vailla js boilerplate." />
    <meta name="keywords" content="atrucheks,tests,blood,health,checks" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<body>
    <div class="layout">
        <main>
            <div class="container">
                <h1>Progress Bars</h1>
                <div class="row align-items-start">
                    <div class="main-content col-md-12 col-sm-12">
                        <div id="max-value" class="p-2 tag">
                        </div>
                    </div>
                </div>
                <div class="row align-items-start">
                    <div class="main-content col-md-12 col-sm-12">
                        <div id="progress-bars"></div>
                    </div>
                </div>
                <div class="row align-items-start">
                    <div class="col col-md-4 col-sm-4">
                        <div id='select-control' class="p-2">
                        </div>
                    </div>
                    <div class="col col-md-8 col-sm-8">
                        <div id="buttons">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer_left">Progress Bars</div>
            <div class="footer_right">2359 media</div>
        </footer>
    </div>
</body>

</html>